{% extends "layout/base.html" %}

{% block content %}

  <div id="wrap">

   <div class="row">
   <div class="col-md-12">
    	<h2> Enter a Product Name or Product ID:</h2>
   	 <input id="product" type="text"></input>
   	 <button id="fetch_product_button" type="button">Go!</button>
   </div>
   </div>

<div class="row">	
	<div class="col-md-8">
    		<div id="graph_container">
		</div>
	</div>

	 <div id="prod-des" class = "col-md-4" style="height: 20px;">
	</div>
	<div id="prod-des0" class = "col-md-4" style="height: 120px;">
	</div>
	<div id="prod-des1" class = "col-md-4" style="height: 120px;">
	</div>	
	<div id="prod-des2" class = "col-md-4" style="height: 120px;">
	</div>
	
</div>

</div>
{% endblock %}

{% block footer %}
<!--  {% include "include/footer.html" %}  -->
{% endblock %}

{% block scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/product_search.js') }}"></script>
{% endblock %}

