{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="reveal">
    <div class="slides">
    <section class="stack" data-id="73fc499fa0896115e0a23d8b3afabfc4">
        <section class="" data-id="feea502e5579a480424a139ac675e29b" data-background-color="rgba( 0, 0, 0, 0.6 )" data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/486888/CuteMonkey1.jpg">
            <h1>
                <font color="#ffffff">
                    <font style="font-size: 112px;">
                        <br>
                    </font>
                </font>
            </h1>
<h1>
            <font color="#ffffff">
                <font style="font-size: 112px;">
                    <br>
                </font>
            </font>
        </h1>
<h1>
        <font color="#ffffff">
            <font style="font-size: 112px;">
                <br>
            </font>
        </font>
    </h1>
<h1 class="absolute-element" style="position: absolute; width: 613px; height: 116px; z-index: 4; left: 177px; top: 380px;">
    <font color="#ffffff">
    <font style="font-size: 72px;">
        <font>Amazon</font>&nbsp;Explorer</font>
    </font>
</h1>
<div class="absolute-element" style="position: absolute; width: 679px; height: 46px; z-index: 4; left: 148px; top: 509px;">
<span>A deeper look into Amazon product reviews</span>
</div>
<div class="absolute-element" style="position: absolute; width: 175px; height: 46px; z-index: 4; left: 396px; top: 591px;">
    <font style="font-size: 32px;">
        <font color="#ffffff">Kelty Allen</font>
        <font color="#d9d9d9"> </font>&nbsp;</font>
    </div>
<div>
    <br>
</div>
</section>
    <section class="" data-id="311fabd8a0c0e6a5a6b5dc9187801301">
        <h2>Data &amp; Analysis</h2>
<div>36 GB, 18 years, 35M Amazon product reviews</div>
<div>
        <br>
    </div>
<div>Natural language processing using Python's NLTK library to select most representative reviews from a given time period</div>
<div>
    <br>
    </div>
<div>Default time period is selected by having both local and global higher-than average review rates.&nbsp;</div>
</section>
<section class="" data-id="85658c72661da596fc42a85bfffad33f">&nbsp;<h2 class="absolute-element" style="position: absolute; width: 351px; height: 64px; z-index: 4; left: 248px; top: 70px;">Kelty Allen</h2>
<div class="absolute-element" style="position: absolute; width: 227px; height: 229px; z-index: 4; left: 653px; top: 24px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/485163/berkeleyLogo.gif" style="width: 186.34657814434297px; height: 186.34657814434297px; max-height: none; max-width: none;">
<br>
</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/485158/MeBackpacking.jpg" style="width: 283px; height: 377px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 97px; top: 215px;" class="absolute-element">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/485159/Screen_Shot_2014-06-22_at_9.38.01_PM.png" style="width: 408px; height: 360px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 485px; top: 273px;" class="absolute-element">
</section>
</section>
<section class="" data-id="ffc599c71659ded541e4c89cd11378a8" data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/485040/Zojirushi.png">
    <h2>
        <br>
    </h2>
</section>
<section class="" data-id="83a70befb2c9308cb86dec0d7480dd64" data-background-image="https://s3.amazonaws.com/media-p.slid.es/uploads/kelty/images/485014/amazonmetrics.jpg">
    <h2>
        <br>
    </h2>
</section>
<section class="" data-id="ee49f6f2f38cec7b5dfbbeb47962dac0">
    <h2>What's the story?</h2>
<div>
    <br>
    </div>
<div>
<span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">Do people like it?</span>
    <br>
</div>
<div>
    <span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">
        <br>
    </span>
    </div>
<div>
<span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">What motivates people to review?</span>
    <br>
</div>
<div>
    <span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">
        <br>
    </span>
    </div>
<div>
<span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">What causes a change in review patterns?</span>
    <span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">
        <br>
    </span>
</div>
<div>
    <span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">
        <br>
    </span>
</div>
<div>
<span style="font-size: 36.00823211669922px; font-style: normal; font-variant: normal;">Can we see the effect of advertising and PR?</span>
</div>
</section>
</div>{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}

